{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}QParty Player{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{% static 'webplayer/webplayer.css' %}"/>
{% endblock %}

{% block scripts %}
    <script src="{% static 'webplayer/webplayer.js' %}"></script>
{% endblock %}

{% block content %}
    {# NAVBAR #}
    <div class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <a class="navbar-brand" href="javascript:void(0);">QParty Player</a>
        </div>
    </div>

    {# CONTENT #}
    <div class="container-fluid">
        {% block player-content %}{ block content }{% endblock %}
    </div>

    {# FOOTER #}
{#    <div class="container">#}
{#        <footer class="navbar-fixed-bottom navbar-default">#}
{#            <div class="container">#}
{#                <p class="navbar-text">#}
{#                    Copyright © 2014 <a href="mailto:admin@example.com" data-toggle="modal">QParty</a>#}
{#                </p>#}
{#            </div>#}
{#        </footer>#}
{#    </div>#}
{% endblock %}
