{% extends 'webplayer/base.html' %}

{% block player-content %}
<div class="row">
    <div class="video_screen col-xs-6 col-lg-8">
        <div class="video_wrapper">
            <iframe src="//www.youtube.com/embed/A7vLLfb17gQ" width="800" height="485" frameborder="0" allowfullscreen></iframe>
        </div>
    </div>

    <div class="col-xs-6 col-lg-4">
        <div class="list-group">
            <p class="list-group-item list-group-item-info text-center">Playing: <a href="https://www.youtube.com/watch?v=A7vLLfb17gQ" target="_blank"><strong>T-Mass & PatrickReza - Faith</strong></a></p>

            <a class="list-group-item" href="https://www.youtube.com/watch?v=a2YztBB4Mnc" target="_blank">Rootkit - Against the Sun (feat. Anna Yvette)</a>
            <a class="list-group-item" href="https://www.youtube.com/watch?v=Bf8JpkR2x08" target="_blank">Ben Sollee - Letting Go (Thomas Jack Remix)</a>
            <a class="list-group-item" href="https://www.youtube.com/watch?v=oU_NPjJcc_M" target="_blank">Rootkit - Against the Sun (feat. Anna Yvette)</a>
            <a class="list-group-item" href="https://www.youtube.com/watch?v=hbRbrDyjgVY" target="_blank">Hundaes - If Only</a>
            <a class="list-group-item" href="https://www.youtube.com/watch?v=FE7roOmsxUQ" target="_blank">Sam Smith - Stay With Me (Echos Remix)</a>
            <a class="list-group-item" href="https://www.youtube.com/watch?v=a2YztBB4Mnc" target="_blank">Rootkit - Against the Sun (feat. Anna Yvette)</a>
            <a class="list-group-item" href="https://www.youtube.com/watch?v=Bf8JpkR2x08" target="_blank">Ben Sollee - Letting Go (Thomas Jack Remix)</a>
            <a class="list-group-item" href="https://www.youtube.com/watch?v=oU_NPjJcc_M" target="_blank">Rootkit - Against the Sun (feat. Anna Yvette)</a>
            <a class="list-group-item" href="https://www.youtube.com/watch?v=hbRbrDyjgVY" target="_blank">Hundaes - If Only</a>
            <a class="list-group-item" href="https://www.youtube.com/watch?v=FE7roOmsxUQ" target="_blank">Sam Smith - Stay With Me (Echos Remix)</a>
            <a class="list-group-item" href="https://www.youtube.com/watch?v=a2YztBB4Mnc" target="_blank">Rootkit - Against the Sun (feat. Anna Yvette)</a>
            <a class="list-group-item" href="https://www.youtube.com/watch?v=Bf8JpkR2x08" target="_blank">Ben Sollee - Letting Go (Thomas Jack Remix)</a>
            <a class="list-group-item" href="https://www.youtube.com/watch?v=oU_NPjJcc_M" target="_blank">Rootkit - Against the Sun (feat. Anna Yvette)</a>
            <a class="list-group-item" href="https://www.youtube.com/watch?v=hbRbrDyjgVY" target="_blank">Hundaes - If Only</a>
            <a class="list-group-item" href="https://www.youtube.com/watch?v=FE7roOmsxUQ" target="_blank">Sam Smith - Stay With Me (Echos Remix)</a>
        </div>
    </div>
</div>
{% endblock %}